<section class="mt-5">
    <div class="container my-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms & Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary ">

           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quo dolores suscipit nihil consequatur numquam obcaecati officia. Harum minima perferendis suscipit et asperiores quod ullam at autem quibusdam delectus corrupti maiores quae, eos voluptate. Nam, molestiae? Sed error, nesciunt sint quia laboriosam autem consequuntur quam modi quo eum excepturi? Corrupti voluptatem necessitatibus molestias! Commodi sapiente nam autem earum laboriosam quas architecto, illo obcaecati culpa error praesentium quis dolorem perspiciatis illum?</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quo dolores suscipit nihil consequatur numquam obcaecati officia. Harum minima perferendis suscipit et asperiores quod ullam at autem quibusdam delectus corrupti maiores quae, eos voluptate. Nam, molestiae? Sed error, nesciunt sint quia laboriosam autem consequuntur quam modi quo eum excepturi? Corrupti voluptatem necessitatibus molestias! Commodi sapiente nam autem earum laboriosam quas architecto, illo obcaecati culpa error praesentium quis dolorem perspiciatis illum?</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quo dolores suscipit nihil consequatur numquam obcaecati officia. Harum minima perferendis suscipit et asperiores quod ullam at autem quibusdam delectus corrupti maiores quae, eos voluptate. Nam, molestiae? Sed error, nesciunt sint quia laboriosam autem consequuntur quam modi quo eum excepturi? Corrupti voluptatem necessitatibus molestias! Commodi sapiente nam autem earum laboriosam quas architecto, illo obcaecati culpa error praesentium quis dolorem perspiciatis illum?</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme" >Back to Home</button>
            </div>
        </div>
    </div>
</section>