<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>Leave A Comment</h4>
        <p>You  can leave the comment using comment form</p>

        <form >
            <div class="form-group">
                <label for="name " class="my-3 fw-bold fs-5" >Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Name">
            </div>

            <div class="form-group">
                <label for="text" class="my-3 fw-bold fs-5" >Comment</label>
                <textarea class="form-control mb-3" id="text" rows="10" cols="30"></textarea>
            </div>
            <button class="btn btn-info btn-theme text-white" >Add A Comment</button>
        </form>

    </div>
</div>